.search-ticket-section .found-ticket{
    background: var(--color1);

    padding: 15px;

    color: white;
    font-weight: bold;
    width: 300px;

    border-radius: 15px;
    margin-top: 20px;
}

.search-ticket-section>input{
    border-radius: 15px;
    border: none;
    text-align: center;

    background: var(--color1);
    color: var(--color4);
}

.search-ticket-section>span{
    cursor: pointer;
    color: var(--color1);

    font-weight: bold;

    transition: 500ms;
    -o-transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
}

.search-ticket-section>span:hover{
    color: var(--color2);
}

.found-ticket p{
    margin: 5px;
}
.found-ticket>p:nth-of-type(1){
    text-align: center;
    text-decoration: underline;
}

.found-ticket>.today{
    color: #42f342;
    text-align: right;
    font-weight: initial;
    width: 100%;
}


/*VIEW SCHEDULE*/
.view-tickets-section>input{
    text-align: center;

    outline: none;
    color: var(--color4);
    background: var(--color1);

    border: none;
    border-radius: 10px;

    font-size: 1rem !important;
}

.view-tickets-section>.results{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.view-tickets-section .hall-container{
    margin-top: 50px;
    text-align: center;
    border-top: 3px solid var(--color2);
    background: rgba(52,58,64,.1);
    width: 350px;
}

.view-tickets-section .hall-results{
    background: var(--color1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.view-tickets-section .hall-result{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 10%;
}

.view-tickets-section .hall-result>p:nth-of-type(1){
    color: var(--color4);
    font-weight: bold;
}
.view-tickets-section .hall-result>p:nth-of-type(2){
    color: var(--color3);
    width: auto;
    background: var(--color1);
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
    overflow: hidden; /* make sure it hides the content that overflows */
    white-space: nowrap; /* don't break the line */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
    cursor: default;
}
.view-tickets-section .hall-result>p:nth-of-type(2):hover{
    overflow: initial;
    white-space: initial;
    text-overflow: initial;
}

.view-tickets-section .hall-result>p:nth-of-type(3){
    color: var(--color3);
    font-weight: bold;
}