
.not-found-container{
    position: relative;
    background: var(--color1);
    width: 70vw;
    margin-left: 10vw;
    margin-top: 10vh;
    padding: 5vw;

    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.not-found-container>svg{
    width: 80%;

}

.not-found-container #light{

    opacity: 0;
    animation:10s blink 500ms forwards;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    8%{
        opacity: 0;
    }
    9%{
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    11%{
        opacity: 1;
    }
    12%{
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    31%{
        opacity: 1;
    }
    32%{
        opacity: 0;
    }
    33%{
        opacity: 1;
    }
    34%{
        opacity: 0;
    }
    45%{
        opacity: 0;
    }
    47%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    55%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}


.not-found-container>span{
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    color: var(--color4);
    font-weight: bold;
}
.not-found-container>span>a{
    color: var(--color3);
}