#howToContainer{
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#howToContainer button img{
    width: 100%;
}

#howToContainer>button{

    width: 150px;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;

    transform-origin: center;
    transition: 500ms;
    -o-transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
}

#howToContainer>button:hover{
    transform: scale(1.2)
}



/*TUTORIAL*/
#tutorial-container{
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#tutorial-close-btn{
    font-size: 2rem;
    border: none;
    background: none;
    color: var(--color4);
    padding: 3px;
    border-radius: 15px;
    height: 50px;
    width: 50px;
    outline: 2px solid var(--color4);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    cursor: pointer;

    right: 10px;
    top: 15px;
}

#tutorial-container>iframe{
    /*width: 90%;*/
    /*margin-left: 5%;*/
    width: 80vw;
    height: calc((90vw * 9)/16);
}
