.ticket-page{
    /*justify-content: center !important;*/
    /*align-items: center;*/
    /*gap: 0 !important;*/
    padding: 80px 0 50px 0;
}



.ticket-container{
    position: relative;
    text-align: center;
    --ticketWidth: 60vw;
    width: var(--ticketWidth);
    height: calc(var(--ticketWidth) / 3.22);

    background: url('../../../assets/ticket-background.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    --bigtext: 1.7rem;
    --mediumtext: 1rem;
    --smalltext: .9rem;
}

.ticket-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--color4);
    height: 50%;
}
.ticket-text>h3{
    font-size: var(--bigtext);
}

.ticket-text>.ticket-data{
    font-size: var(--smalltext);
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.ticket-text>div:nth-of-type(1){
    width: 50%;
    font-size: var(--mediumtext);
    transform: translateX(25%);
}

.ticket-container>img{
    /*background: url('../../../assets/ticket-background.svg');*/
    width: 100%;
}
.outside-ticket-data{
    display: none;
    font-size: var(--smalltext);
    margin-top: 10%;
    color: var(--color4);
    font-weight: bold;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}
.outside-ticket-data>p{
    margin: 3px;
    max-width: 70%;
    text-align: center;
}
.outside-ticket-data>h2{
    text-decoration: underline;
}



/*animation*/
#popcorn{
    transform: rotateX(180deg);
    transform-origin: bottom;
    animation: 1s popUp linear 500ms forwards;
}

#glass{
    transform: rotateX(180deg);
    transform-origin: bottom;
    animation: 1s popUp linear 800ms  forwards;
}

#glasses{
    transform: rotateX(180deg);
    transform-origin: bottom;
    animation: 1s popUp linear 1100ms  forwards;
}

#play{
    transform: scale(0);
    transform-box: fill-box;
    transform-origin: center;
    animation: .5s playPopup linear 2000ms  forwards;
}

@keyframes popUp {
    0%{
        transform: rotateX(180deg);
    }
    80%{
        transform: rotateX(0deg) translateY(-20%);
    }

    100%{
        transform: rotateX(0deg) skewX(0deg);
    }
}
@keyframes playPopup {
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(1);
    }
}



@media screen and (max-width: 1000px) {
    .book-page-container{
        width: 95%;
        margin-left: 2.5%;
    }
    .ticket-container{
        /*width: 100%;*/
        --ticketWidth:90vw;
    }
}

@media screen and (max-width: 770px) {
    .ticket-data,
    .ticket-text>div:nth-of-type(1){
        display: none !important;
    }

    .ticket-text>h3{
        transform: translateX(25%) !important;
        --bigtext: 1.2rem;
    }

    .outside-ticket-data{
        display: flex;
    }
}